{% extends 'base.html' %}

{% block content %}

<section class="section-content padding-y">
    <div class="card mx-auto" style="max-width:520px; margin-top:40px;">
        <article class="card-body">
            <header class="mb-4">
                <h4 class="card-title">{% if form.instance.pk %}Actualizar{% else %}Crear{% endif %} Categoría</h4>
            </header>
            <form method="post" enctype="multipart/form-data">
                {% include 'includes/alerts.html' %}
                {% csrf_token %}

                <div class="form-row justify-content-center">
                    <div class="col-md-12 form-group">
                        <label>Nombre de la categoría</label>
                        {{ form.nombre_categoria }}
                        {{ form.nombre_categoria.errors }}
                    </div>
                </div>
                <div class="form-row justify-content-center">
                    <div class="col-md-12 form-group">
                        <label>Descripción</label>
                        {{ form.descripcion }}
                        {{ form.descripcion.errors }}
                    </div>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-block custom-button">Guardar</button>
                </div>

                {% include 'includes/alerts.html' %}
            </form>
        </article>
    </div>
</section>

{% endblock %}
