<aside class="col-md-3">
    <!--   SIDEBAR   -->
    <ul class="list-group">
        <a class="list-group-item {% if '/accounts/' == request.path %} active {% endif %}" href="{% url 'dashboard' %}"> Panel </a>
        <a class="list-group-item {% if '/my_orders/' in request.path%} active {% endif %}"  href="{% url 'my_orders' %}"> Mis Pedidos  </a>
        <a class="list-group-item {% if '/edit_profile/' in request.path%} active {% endif %}" href="{% url 'edit_profile' %}"> Editar Perfil </a>
        <a class="list-group-item {% if '/change_password/' in request.path%} active {% endif %}" href="{% url 'change_password' %}">Cambiar Contraseña </a>
    </ul>
    <br>
    <a class="btn btn-light btn-block" href="{% url 'logout' %}"> <i class="fa fa-power-off"></i> <span class="text">Cerrar Sesión</span> </a> 
    {% if user.is_authenticated and user.is_staff %}
    <a class="btn btn-light btn-block" href="{% url 'producto_list' %}"><i class="fa fa-mug-hot"></i> <span class="text">Administrar Web</span></a>
    {% endif %}
    <!--   SIDEBAR .//END   -->
</aside>