{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container" style="margin-top: 50px;">
    <center><i class="fas fa-check-circle" style="font-size: 72px;margin-bottom: 20px;color: #28A745;"></i></center>
    <h2 class="text-center">Pago realizado con exito</h2>
	<br>
	<div class="text-center">
		<a href="{% url 'store' %}" class="btn btn-success custom-button">Continuar comprando</a>
	</div>
</div>

<div class="container" style="margin: 0 auto;width: 50%;padding: 50px;background: #f1f1f1;margin-top: 50px;margin-bottom: 50px;">
    <div class="row invoice row-printable">
        <div class="col-md-12">
            <!-- col-lg-12 start here -->
            <div class="panel panel-default plain" id="dash_0">
                <!-- Start .panel -->
                <div class="panel-body p30">
                    <div class="row">
                        <!-- Start .row -->
                        <div class="col-lg-6">
                            <!-- col-lg-6 start here -->
                            <div class="invoice-logo"><img src="{% static '/images/logodoncoffee.png'%}" alt="Invoice logo" style="max-height: 40px;"></div>
                        </div>
                        <!-- col-lg-6 end here -->
                        <div class="col-lg-6">
                            <!-- col-lg-6 start here -->
                            <div class="invoice-from">
                                <ul class="list-unstyled text-right">
                                    <li><strong>Factura a</strong></li>
                                    <li>{{pedido.full_name}}</li>
                                    <li>{{pedido.email}}</li>
                                    <li>{{pedido.direccion}}</li>
                                    <li>{{pedido.ciudad}}</li>
                                </ul>
                            </div>
                        </div>
                        <!-- col-lg-6 end here -->
                        <div class="col-lg-12">
                            <!-- col-lg-12 start here -->
                            <div class="invoice-details mt25">
                                <div class="well">
                                    <ul class="list-unstyled mb0">
                                        <li><strong>Numero de pedido:</strong> {{pedido.num_pedido}}</li>
                                        <li><strong>Transacción:</strong> {{pago.pago_id}}</li>
                                        <li><strong>Fecha del pedido:</strong> {{pedido.created_at}}</li>
                                        <li><strong>Estado:</strong> {{pedido.estado}}</li>
                                    </ul>
                                </div>
                            </div>
                           
                            <div class="invoice-items">
                                <div class="table-responsive" style="overflow: hidden; outline: none;" tabindex="0">
                                    <table class="table table-bordered">
                                        <thead>
                                            <tr>
                                                <th class="per70 text-center">Productos</th>
                                                <th class="per5 text-center">Cantidad</th>
                                                <th class="per25 text-center">Total</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for item in productos_pedido %}
                                            <tr>
                                                <td>{{item.producto.nombre_producto}}</td>
                                                <td class="text-center">{{item.cantidad}}</td>
                                                <td class="text-center">{{item.precio_producto|floatformat:0}}</td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                        <tfoot>
                                            <tr>
                                                <th colspan="2" class="text-right">Sub Total:</th>
                                                <th class="text-center">${{pedido.subtotal|floatformat:0}}</th>
                                            </tr>
                                            <tr>
                                                <th colspan="2" class="text-right">Iva:</th>
                                                <th class="text-center">${{pedido.iva|floatformat:0}}</th>
                                            </tr>
                                            
                                            <tr>
                                                <th colspan="2" class="text-right">Total a Pagar:</th>
                                                <th class="text-center">${{pedido.total_pedido|floatformat:0}}</th>
                                            </tr>
                                        </tfoot>
                                    </table>
                                </div>
                            </div>
                            <div class="invoice-footer mt25">
                                <p class="text-center">Gracias por realizar tu pedido con nosotros :) ! </p>
                            </div>
                        </div>
                        <!-- col-lg-12 end here -->
                    </div>
                    <!-- End .row -->
                </div>
            </div>
            <!-- End .panel -->
        </div>
        <!-- col-lg-12 end here -->
    </div>
    </div>
{% endblock %}
