{% extends 'base.html' %}
{% load static %}
<!-- {% load l10n %} Cargar la etiqueta de localización -->
{% block content %}

<section class="section-content padding-y bg">
    <div class="container">

    <!-- ============================ COMPONENT 1 ================================= -->
    <h4 class="">Confirma tu pedido y realiza el pago</h4>
    <div class="row">
        <aside class="col-lg-8">
            <div class="card">
                <h5 class="card-header">Dirección de Envio</h5>
                <div class="card-body">
                  <p class="card-text mb-0">{{pedido.full_name}}</p>
                  <p class="card-text mb-0">{{pedido.direccion}}</p>
                  <p class="card-text mb-0">{{pedido.ciudad}}</p>
                  <p class="card-text mb-0">{{pedido.email}}</p>
                  <p class="card-text mb-0">{{pedido.phone}}</p>
                  {% if pedido.nota_pedido %}
                  <b>Nota pedido:</b> {{pedido.nota_pedido}}
                  {% endif %}
                </div>
              </div>
              <div class="card">
                <h5 class="card-header">Método de pago</h5>
                <div class="card-body">
                  <p class="card-text">Paypal</p>
                </div>
              </div>
              <div class="card">
                <h5 class="card-header">Revisar productos</h5>
                <div class="card-body">
                  <table class="table table-borderless table-shopping-cart">
                    <thead class="text-muted">
                        <tr class="small text-uppercase">
                            <th scope="col">Producto</th>
                            <th scope="col" width="120">Cantidad</th>
                            <th scope="col" width="120">Precio</th>
                        </tr>
                    </thead>
                    <tbody>

                        {% for cart_item in cart_items %}
                        <tr>
                            <td>
                                <figure class="itemside align-items-center">
                                    <div class="aside"><img src="{{ cart_item.producto.imagen.url }}" class="img-sm"></div>
                                    <figcaption class="info">
                                        <a href="{{ cart_item.producto.get_url }}" class="title text-dark">{{ cart_item.producto.nombre_producto }}</a>
                                        <p class="text-muted small">
                                            {% if cart_item.variantes.all %}
                                                {% for item in cart_item.variantes.all %}
                                                    {{ item.variante_categoria|capfirst }} : {{ item.variante_value|capfirst }}
                                                    <br>
                                                    <!-- {% if item.variante_value == 'Pequeño'%}
                                                        Precio de tamaño: -${{ item.variante_precio }}
                                                    {% else %}
                                                    Precio de tamaño: ${{ item.variante_precio }}
                                                    {% endif %} -->
                                                    
                                                {% endfor %}
                                            {% endif %}
                                        </p>
                                    </figcaption>
                                </figure>
                            </td>
                            <td>
                                <label for="">{{cart_item.cantidad}}</label>
                            </td>
                            <td>
                                <div class="price-wrap">
                                    <var class="price">${{ cart_item.sub_total }}</var>
                                    <small class="text-muted"> ${{ cart_item.producto.precio }} c/u </small>
                                </div> <!-- price-wrap .// -->
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                </div>
              </div>
        </aside> <!-- col.// -->
        <aside class="col-lg-4">
            <div class="card">
                <div class="card-body">
                    <dl class="dlist-align">
                        <dt>Subtotal:</dt>
                        <dd class="text-right">${{ subtotal|floatformat:0 }}</dd>
                    </dl>
                    <dl class="dlist-align">
                        <dt>IVA (19%):</dt>
                        <dd class="text-right">${{ iva|floatformat:0 }}</dd>
                    </dl>
                    <dl class="dlist-align">
                        <dt>Total a pagar:</dt>
                        <dd class="text-right text-dark b"><strong>${{ grand_total|floatformat:0 }}</strong></dd>
                    </dl>

                    <hr>
                    <p class="text-center mb-3">
                        <img src="{% static './images/misc/payments.png' %}" height="26">
                    </p>
                    <form action="{% url 'payments' %}" method="post" class="d-flex justify-content-center align-items-center">
                        {% csrf_token %}
                        <input type="hidden" name="num_pedido" value="{{pedido.num_pedido}}">
                        <input type="hidden" name="total_pedido" value="{{pedido.total_pedido|floatformat:0}}">
                        <button type="submit" class="btn btn-primary custom-button"><i class="far fa-credit-card"></i> Pagar con Transbank</button>
                    </form>
                </div> <!-- card-body.// -->
            </div> <!-- card.// -->
        </aside> <!-- col.// -->
    </div> <!-- row.// -->
    <!-- ============================ COMPONENT 1 END .// ================================= -->

    </div> <!-- container .//  -->
</section>
<!-- ========================= SECTION CONTENT END// ========================= -->
{% endblock %}
